/* @import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


html{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    margin:0;
    padding:0;
}

   
@keyframes textShake {
     0% { transform: translateX(0px); }
     25% { transform: translateX(-5px); }
     50% { transform: translateX(5px); }
     75% { transform: translateX(-5px); }
     100% { transform: translateX(0px); }
}


h1{
    font-size: 3rem;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 100px;
    font-family: Lora;
    color: #393E46;
    text-shadow: 2px 2px 4px #ffa5d8;
    animation: textShake 3s ease-in-out infinite alternate;

}


     p{
        font-family: 'Abel', sans-serif;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 0.5rem;
        color: #393E46;
        /* animation: shine 3s infinite linear;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        background-image: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%); */
    }

    @keyframes shine {
        0% {
            background-position: 0 60%;
        }
        25% {
            background-position: 45px 100%;
        }
        50% {
            background-position: 90px 100%;
        }
        75% {
            background-position: 135px 100%;
        }
        100% {
            background-position: 180px 100%;
        }
    }

    

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    border:none;
    font-size: 3.5rem;
    margin:0.5rem 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #CADEFC;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

button:hover{
    background-color: #DEFCF9;
    transform: scale(1.1);
}

#user-score{
    color: #2196f3;
}

#computer-score{
    color: #f44336;
}
